body {
    margin: 0;
    padding: 0;
    background: #a4bbfc url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.midframe {
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    padding:60px 40px 40px 40px;
    margin: 10% 25%;
}
.warning{
    color:rgb(255,50,50);
    font-size: 50px;
    font-weight: bold;
}
.fw{
    background: white;
    background: rgba(255, 255, 255, 0.5);
    padding:20px;
    margin:0 28%;
}
