body,html {
    height:100%;
    margin: 0;
    padding: 0;
    background: #a4bbfc url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    text-align: center;
}
nav,footer{
    text-align: center;
    color: white;
    background: grey;
    opacity: 0.5;
    position:fixed;
    width: 100%;
}
footer{
    bottom:0;

}
img{
    width: 200px;
}
#leftimg{
    transform: translate(100px,0px);
}
#rightimg{
    transform: translate(-100px,0px);
}
#date{
    font-size: 0.6em;
    margin-top: 100px;
}
.leftframe{
    border-radius: 40px;
    position: absolute;
    left: 0;
    overflow:hidden;
    transform: translate(-100px,60px);
}
.rightframe{
    border-radius: 40px;
    position: absolute;
    right: 0;
    overflow: hidden;
    transform: translate(100px,60px);
}
.midframe {
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: white;
    background-color: rgba(255,255,255,0.4);
    padding:20px 40px 40px 40px;
    margin: 3% 20%;
}
.warning{
    margin: 30px;
}
.title{
    color:rgb(255,50,50);
    font-size: 50px;
    font-weight: bold;
}
.fw{
    background: white;
    background: rgba(255, 255, 255, 0.5);
    padding:20px;
    margin:0 28%;
}
